
{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

<form id="code_form" method="post" action="" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-row">
          <div class="form-group col-md-6 mb-0">
            {{ form.title }}
          </div>
          <input type="file" name="code_file">
        <button type="submit" id="submit_btn" class="btn btn-primary">Submit</button>
</form>

<script src="{% static 'js/index.js' %}"></script>
{% endblock %}