
{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

<!-- <h1>Problem: Write a quicksort algorithm, which sorts the following array...</h1>
<h1>Problem: Write a quicksort algorithm, which sorts the following array...</h1>
<h1>Problem: Write a quicksort algorithm, which sorts the following array...</h1>
<h1>Problem: Write a quicksort algorithm, which sorts the following array...</h1>
<h1>Problem: Write a quicksort algorithm, which sorts the following array...</h1>
<h1>Problem: Write a quicksort algorithm, which sorts the following array...</h1>
<h1>Problem: Write a quicksort algorithm, which sorts the following array...</h1>-->
<br>
<h1 style="position:relative">Problem: Write a quicksort algorithm, which sorts the following array...</h1> 
<p id="prob_info"></p>
<div style="position: fixed; bottom: 0; width: 100%;">
<div style="margin: auto; width: 50%; border: 3px solid #800042; padding: 10px;">
<form id="code_form" action="" enctype="multipart/form-data" method="post">
  {% csrf_token %}
    <div class="form-row">
      <div class="form-group col-md-6 mb-0">
        {{ form.title|as_crispy_field }}
      </div>
      </div>
      <br>
    <div class="form-row">
      <div class="form-group col-md-6 mb-0">
        {{ form.upload_file }}
      </div>
    </div>
  <br>
    <button type="submit" class="btn btn-primary">Submit your code!</button>
</form>
<div>
  <p id="response"></p>
</div>
</div>
</div>


<script src="{% static 'js/index.js' %}"></script>
{% endblock %}